<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body onload="httpscheck()">
    <div class="container">
      <div class="topbar">
        <img
          src="https://i.imgur.com/UUFNpMd.png"
          class="TEM"
          style="width: 13rem"
          draggable="false"
        />
        <form action="/" method="POST">
          <input
            type="text"
            name="search"
            id="search"
            class="search"
            placeholder="Item UUID"
            required
          />
          <span class="material-icons">search</span>
          <button type="submit" class="submit">Search</button>
        </form>
      </div>

      <div class="main"></div>
    </div>
  </body>
</html>

<script>
  async function httpscheck() {
    // check for localhost
    if (window.location.href.includes("localhost")) {
      return;
    } else if (window.location.protocol != "https:")
      window.location.href =
        "https:" + window.location.href.substring(window.location.protocol.length);
  }
</script>

<style scoped>
  @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&family=Montserrat&display=swap");

  * {
    margin: 0;
    padding: 0;
    white-space: normal;
    transition: all 0.2s ease-in-out;
  }
  body {
    background-color: #232931;
    font-family: "Montserrat", sans-serif;
  }
  /* Topbar */
  .topbar {
    background-color: #232931;
    height: 5rem;
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .Item {
    position: absolute;
    width: 60%;
    height: 100%;
  }
  .tem {
    position: fixed;
    padding-left: 2rem;
    top: -4rem;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  input {
    position: relative;
    width: 30rem;
    height: 2.5rem;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #eeeeee;
    background-color: #393e46;
    outline: none;
    padding-left: 5vh;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  input:hover,
  input:focus {
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .topbar input::placeholder {
    color: #eeeeee;
  }

  .search {
    position: absolute;
    right: 11rem;
    top: 1.3rem;
    padding: 1rem;
  }

  .topbar span {
    float: right;
    margin-right: 12rem;
    margin-top: 1.6rem;
    position: relative;
    z-index: 2;
    color: #eeeeee;
    font-size: 2rem;
  }

  button {
    top: 1.3rem;
    right: 1.5rem;
    position: absolute;
    background-color: #393e46;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 500;
    height: 2.5rem;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 1vh 1.5vw;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  button:hover {
    transition: all 0.2s ease-in-out;
    background-color: #4ecca3;
    color: #232931;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
</style>
