
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

        <style>html{visibility: hidden;opacity:0;}</style>

    </head>
    <body onload="writeItem()">
            <div class="topbar">
                    <img src="https://i.imgur.com/UUFNpMd.png" class="TEM" style="width:13rem;">
                    <form action="/" method="POST">
                            <input type="text" name="search" id="search" class="search" placeholder="Items And Players" value="<%=search%>" required>
                            <span class="material-icons">search</span>
                        <button type="submit" class="submit">Search</button>
                    </form>
                    
                
            </div>
        
            <div class="main">
                <div class="history" id="history">

                    <h1 class="historyTitle">Owner History</h1>

                    
                    <div class="bmargin"></div>
                </div>
                <div class="vline"></div>

            </div>

                
    </body>
</html>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    

    var itemOptions = {
            method: 'GET',
            url: 'https://api.tem.cx/items/' + '<%=search%>',
            headers: {'Content-Type': 'application/json'}
        };

    async function getItem() {
            let item = ''
                await axios.request(itemOptions).then(function (response) {
                    item = response.data
                })
            return item
    }

    async function getPlayerName(id) {
        let playerName = ''
        await axios.get('https://mc-heads.net/minecraft/profile/' + id).then(function (response) {
            playerName = response.data
        })
        return playerName
    }

    async function writeItem(){
        const item = await getItem()

        ownerList = []
        previousOwners = item.item.previousOwners

        for(i in previousOwners){
            var obj = {}
            var startDateConvert = new Date(previousOwners[i].start)
            var endDateConvert = new Date(previousOwners[i].end)
            obj.startDate = startDateConvert.getDate() + '/' + (startDateConvert.getMonth() + 1) + '/' + (startDateConvert.getFullYear())
            obj.endDate = endDateConvert.getDate() + '/' + (endDateConvert.getMonth() + 1) + '/' + (endDateConvert.getFullYear())
            obj.playerUuid = previousOwners[i].owner.playerUuid
            ownerList.push(obj)
        }
        var obj = {}
        obj.startDate = startDateConvert.getDate() + '/' + (startDateConvert.getMonth() + 1) + '/' + (startDateConvert.getFullYear())
        obj.endDate = 'Present'
        obj.playerUuid = item.item.currentOwner.playerUuid
        ownerList.push(obj)
        ownerList.reverse()
        

        for(i in ownerList){
            let playerName = await getPlayerName(ownerList[i].playerUuid)
            console.log(playerName)
            var img = document.createElement('img')
            var pName = document.createElement('p')
            var pStart = document.createElement('p')
            var pEnd = document.createElement('p')
            var div = document.createElement('div')
            var href = document.createElement('a')
            pStart.innerHTML = ownerList[i].startDate + '<span class="material-icons-outlined">file_download</span>'
            pEnd.innerHTML = ownerList[i].endDate + '<span class="material-icons-outlined">file_upload</span>'
            pStart.id = 'start'
            pEnd.id = 'end'
            div.id = [i]
            pName.innerHTML = playerName.name
            href.href = 'https://sky.shiiyu.moe/stats/' + playerName.name
            href.id = 'href' + [i]
            img.src = 'https://mc-heads.net/avatar/' + ownerList[i].playerUuid 
            document.getElementById('history').appendChild(div)
            document.getElementById([i]).appendChild(href)
            document.getElementById('href' + [i]).appendChild(img);
            document.getElementById([i]).appendChild(pName);
            document.getElementById([i]).appendChild(pEnd);
            document.getElementById([i]).appendChild(pStart);
        }
        var bmargin = document.createElement('div')
        bmargin.className = 'bmargin'
        document.getElementById('history').appendChild(bmargin)  
    }


</script>



<style scoped>
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&family=Montserrat&display=swap');



* {
  margin: 0;
  padding: 0;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
body{
    background-color: #232931;
    font-family: 'Montserrat', sans-serif;
}
/* Topbar */
.topbar{
    background-color: #232931;
    height: 5rem;
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    
}
.tem{
    position: fixed;
    padding-left: 2rem;
    top: -4rem;
}
input{
    position: relative;
    width: 30rem;
    height: 2.5rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #EEEEEE;
    background-color: #393E46;
    outline: none;
    padding-left: 5vh;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input:hover , input:focus{
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.topbar input::placeholder{
    color: #EEEEEE;
}

.search{
    position: absolute;
    right: 11rem;
    top: 1.3rem;
    padding: 1rem;
}

.topbar span{
    float: right;
    margin-right: 12rem;
    margin-top: 1.6rem;
    position: relative;
    z-index: 2;
    color: #EEEEEE;
    font-size: 2rem;
}

button {
    top: 1.3rem;
    right: 1.5rem;
    position: absolute;
    background-color: #393E46;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: #EEEEEE;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 500;
    height: 2.5rem;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 1vh 1.5vw;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:hover{
    transition: all 0.2s ease-in-out;
    background-color: #4ECCA3;
    color: #232931;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Main */

.main{
    position: absolute;
    top: 5rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}



/* history */

.history{
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    overflow-y: auto;


}

.history div:not(.vline,.bmargin){
    position: relative;
    display: block;
    top: 0rem;
    padding-left: 1.5vw;
    margin-right: -1rem;
    padding-top: 1.5rem;
    margin-left: 3rem;
    margin-top: 5rem;
    border-radius: 10px;
    background-color: #393E46;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.history div:not(.vline):hover{
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.history div img{
    width: 8rem;
    border-radius: .5rem;

}

.history div p{
    position: relative;
    top: -7rem;
    left: 10rem;
    font-size: 2rem;
    font-weight: 750;
    color: #4ECCA3;
}
#start{
    position: absolute;
    padding-top: 13.5rem;
    left: 30rem;
    font-size: 1.5rem;
    font-weight: 750;
    color: #4ECCA3;
}
#end{
    position: absolute;
    padding-top: 10rem;
    left: 30rem;
    font-size: 1.5rem;
    font-weight: 750;
    color: #4ECCA3;
}


#start span{
    position: relative;
    color: #EEEEEE;
    font-size: 2rem;
    top: 0.3rem;
    left: 0.2rem;
}

#end span{
    position: relative;
    color: #EEEEEE;
    font-size: 2rem;
    top: 0.3rem;
    left: 0.2rem;
}


.vline{
    overflow-y: hidden;
    position: absolute;
    display: inline;
    width: 0.1rem;
    height: inherit;
    background-color: #393E46;
    right: 40%;
    overflow-y: hidden;
}

.historytitle{
    position: absolute;
    left: 17rem;
    top: 1rem;
    font-size: 2rem;
    font-weight: 1000;
    color: #EEEEEE;
}





.bmargin{
    position: absolute;
    height: 10rem;
    width: 100%;
    align-self: bottom;
}


/* Footer */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #4ECCA3 #ffffff5c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4ECCA3;
    border-radius: 18px;
    border: 4px solid #ffffff00;
  }


html {
    visibility: visible;
    opacity: 1;
}

</style>