
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <div class="topbar">
                    <img src="https://i.imgur.com/UUFNpMd.png" class="TEM" style="width:13rem;">
                    <form action="/" method="POST">
                        <input type="text" name="search" id="search" class="search" placeholder="Items And Players" value="<%=search%>" required>
                        <button type="submit" class="submit">Search</button>
                    </form>
                    <span class="material-icons">search</span>
                
            </div>
        
            <div class="main">
            
            
            
            </div>

        </div>
    </body>
</html>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&family=Montserrat&display=swap');



* {
  margin: 0;
  padding: 0;
  white-space: normal;
  transition: all 0.2s ease-in-out;
}
body{
    background-color: #232931;
    font-family: 'Montserrat', sans-serif;
}
/* Topbar */
.topbar{
    background-color: #232931;
    height: 5rem;
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    
}
.tem{
    position: fixed;
    padding-left: 2rem;
    top: -4rem;
}
input{
    position: absolute;
    width: 25%;
    height: 2.5rem;
    border-radius: 10px;
    margin-top: 1.3rem;
    right: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #EEEEEE;
    background-color: #393E46;
    outline: none;
    padding-left: 5vh;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input:hover , input:focus{
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.topbar input::placeholder{
    color: #EEEEEE;
}
.topbar span{
    position: absolute;
    right: 37.5rem;
    top: 1.65rem;
    font-size: 1.9rem;
    color: #EEEEEE;
}
button {
    top: 1.3rem;
    right: 1.5rem;
    position: absolute;
    background-color: #393E46;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: #EEEEEE;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 500;
    height: 2.5rem;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 1vh 1.5vw;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:hover{
    transition: all 0.2s ease-in-out;
    background-color: #4ECCA3;
    color: #232931;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

</style>